<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1>Daniel Abraham Sanchez Esquivel</h1>
<div class="contenedor-imagen">
<%= image_tag('img2', class: 'imagen-chica')%>
</div>
<div class="contenedor-enlace">
<%= link_to 'Descargar Curriculum (PDF)', '/curriculum.pdf', download: 'curriculum.pdf'%>
</div>

<h1>Edgar Arturo Vallejo Corral</h1>
<div class="contenedor-enlace">
<%= link_to 'Descargar Curriculum .(Imagen)', '/EdgarArturo.jpeg', download: 'EdgarArturo.jpeg'%>
</div>

<br>
<br>
<%= link_to 'Index', root_path %>